<% layout('layouts/app') %>

<div class="col-6 p-5 my-3">
  <h3 class="fs-3 fw-bold">Order Summary</h3>
  <ul
    class="list-group"
    id="checkoutItemContainer"
  >
  </ul>

  <div class="container my-3">
    <div>
      <span
        id="totalPriceCheckout"
        class="fs-5 fw-bold"
      >
      </span>
    </div>
  </div>
</div>

<script
  type="module"
  src="/js/checkout.js"
></script>
