<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="/css/bootstrap.min.css"
    />
    <script
      type="text/javascript"
      src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
    ></script>
    <script
      type="text/javascript"
      src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
    ></script>
    <script
      type="text/javascript"
      src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf-8"
      src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"
    />
    <script
      type="text/javascript"
      src="https://js.api.here.com/v3/3.1/mapsjs-clustering.js"
    ></script>

    <title>BestPoint</title>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('partials/navbar') %>

    <main class="container mt-5">
      <%- include('partials/alert') %> <%- body %>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/validate-form.js"></script>
  </body>
</html>
